@model Core.Erp.Info.Contabilidad.ct_plancta_Info
@{
    ViewBag.Title = "Importar plan de cuentas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/ValidacionBotonSubmit.js"></script>
<script type="text/javascript">
    function OnFileUploadComplete(s, e)
    {
        e.customArgs['TransaccionFixed'] = $('#IdTransaccionSession').val();
        e.customArgs['Empresa'] = $('#IdEmpresa').val();
        GridView_plancta_importacion.PerformCallback();
    }    
</script>
@using (Html.BeginForm())
{
    @Html.HiddenFor(q=> q.IdEmpresa, new { @id = "IdEmpresa"})
    @Html.HiddenFor(q => q.IdTransaccionSession, new { @id = "IdTransaccionSession" })

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                @Html.DevExpress().UploadControl(settings =>
           {
               settings.Name = "UploadControlFile";
               settings.CallbackRouteValues = new { Controller = "PlanDeCuentas", Action = "UploadControlUpload" };
               settings.ShowUploadButton = true;
               settings.ShowProgressPanel = true;
               settings.NullText = "Selecciona el archivo...";
               settings.ClientSideEvents.FileUploadComplete = "OnFileUploadComplete";
           }).GetHtml()
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="detalle">Plan de cuentas</label>
                    @Html.Action("GridViewPartial_plancta_importacion")
                </div>
            </div>
        </div>
    </div>
}