<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Core.Erp.Web-20180324105414.mdf;Initial Catalog=aspnet-Core.Erp.Web-20180324105414;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Entities_general" connectionString="metadata=res://*/Model_general.csdl|res://*/Model_general.ssdl|res://*/Model_general.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.25.29\SQL2014;initial catalog=DBERP;persist security info=True;user id=sa;password=Sysadm753;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_activo_fijo" connectionString="metadata=res://*/Model_activo_fijo.csdl|res://*/Model_activo_fijo.ssdl|res://*/Model_activo_fijo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.25.29\SQL2014;initial catalog=DBERP;persist security info=True;user id=sa;password=Sysadm753;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_banco" connectionString="metadata=res://*/Model_banco.csdl|res://*/Model_banco.ssdl|res://*/Model_banco.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.25.29\SQL2014;initial catalog=DBERP;persist security info=True;user id=sa;password=Sysadm753;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_caja" connectionString="metadata=res://*/Model_caja.csdl|res://*/Model_caja.ssdl|res://*/Model_caja.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.25.29\SQL2014;initial catalog=DBERP;persist security info=True;user id=sa;password=Sysadm753;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_contabilidad" connectionString="metadata=res://*/Model_contabilidad.csdl|res://*/Model_contabilidad.ssdl|res://*/Model_contabilidad.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.25.29\SQL2014;initial catalog=DBERP;persist security info=True;user id=sa;password=Sysadm753;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_cuentas_por_cobrar" connectionString="metadata=res://*/Model_cuentas_por_cobrar.csdl|res://*/Model_cuentas_por_cobrar.ssdl|res://*/Model_cuentas_por_cobrar.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.25.29\SQL2014;initial catalog=DBERP;persist security info=True;user id=sa;password=Sysadm753;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_cuentas_por_pagar" connectionString="metadata=res://*/Model_cuentas_por_pagar.csdl|res://*/Model_cuentas_por_pagar.ssdl|res://*/Model_cuentas_por_pagar.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.25.29\SQL2014;initial catalog=DBERP;persist security info=True;user id=sa;password=Sysadm753;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_facturacion" connectionString="metadata=res://*/Model_facturacion.csdl|res://*/Model_facturacion.ssdl|res://*/Model_facturacion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.25.29\SQL2014;initial catalog=DBERP;persist security info=True;user id=sa;password=Sysadm753;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_importacion" connectionString="metadata=res://*/Model_importacion.csdl|res://*/Model_importacion.ssdl|res://*/Model_importacion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.25.29\SQL2014;initial catalog=DBERP;persist security info=True;user id=sa;password=Sysadm753;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_inventario" connectionString="metadata=res://*/Model_inventario.csdl|res://*/Model_inventario.ssdl|res://*/Model_inventario.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.25.29\SQL2014;initial catalog=DBERP;persist security info=True;user id=sa;password=Sysadm753;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_reportes" connectionString="metadata=res://*/Model_reportes.csdl|res://*/Model_reportes.ssdl|res://*/Model_reportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.25.29\SQL2014;initial catalog=DBERP;persist security info=True;user id=sa;password=Sysadm753;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_rrhh" connectionString="metadata=res://*/Model_rrhh.csdl|res://*/Model_rrhh.ssdl|res://*/Model_rrhh.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.25.29\SQL2014;initial catalog=DBERP;persist security info=True;user id=sa;password=Sysadm753;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_seguridad_acceso" connectionString="metadata=res://*/Model_seguridad_acceso.csdl|res://*/Model_seguridad_acceso.ssdl|res://*/Model_seguridad_acceso.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.25.29\SQL2014;initial catalog=DBERP;persist security info=True;user id=sa;password=Sysadm753;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_compras" connectionString="metadata=res://*/Model_compras.csdl|res://*/Model_compras.ssdl|res://*/Model_compras.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.25.29\SQL2014;initial catalog=DBERP;persist security info=True;user id=sa;password=Sysadm753;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_entidades_regulatorias" connectionString="metadata=res://*/Model_entidades_regulatorias.csdl|res://*/Model_entidades_regulatorias.ssdl|res://*/Model_entidades_regulatorias.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.25.29\SQL2014;initial catalog=DBERP;persist security info=True;user id=sa;password=Sysadm753;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_presupuesto" connectionString="metadata=res://*/Model_presupuesto.csdl|res://*/Model_presupuesto.ssdl|res://*/Model_presupuesto.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.25.29\SQL2014;initial catalog=DBERP;persist security info=True;user id=sa;password=Sysadm753;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_produccion" connectionString="metadata=res://*/Model_produccion.csdl|res://*/Model_produccion.ssdl|res://*/Model_produccion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.25.29\SQL2014;initial catalog=DBERP;persist security info=True;user id=sa;password=Sysadm753;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>