
@section AdditionalResources {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap_imagenes.css")" />
}
<script type="text/javascript">
    function onUploadControlFileUploadComplete(s, e) {
        if(e.isValid)
            $("#uploadedImage").attr("src", e.callbackData);
        setElementVisible("uploadedImage", e.isValid);
    }
    function onImageLoad() {
        var externalDropZone = $("#externalDropZone");
        var uploadedImage = $("#uploadedImage");
        uploadedImage.css({
            left: (externalDropZone.width() - uploadedImage.width()) / 2,
            top: (externalDropZone.height() - uploadedImage.height()) / 2
        });
        setElementVisible("dragZone", false);
    }
    function setElementVisible(elementId, visible) {
        var el = $("#" + elementId);
        if(visible)
            el.show();
        else
            el.hide();
    }
</script>
<div id="externalDropZone" class="dropZoneExternal">
    <div id="dragZone">
        <span class="dragZoneText">Inserte una imagen aqui
        </span>
    </div>
    <img id="uploadedImage" src="#" alt="" style="display: none" onload="onImageLoad()" />
    <div id="dropZone" style="display: none">
        <span class="dropZoneText">Drop an image here</span>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.DevExpress().UploadControl(settings =>
{
    settings.ShowProgressPanel = true;
    settings.CallbackRouteValues = new { Controller = "Imagenes", Action = "DragAndDropImageUpload" };
    settings.Name = "ucDragAndDrop";
    settings.UploadMode = UploadControlUploadMode.Auto;
    settings.AutoStartUpload = true;
    settings.DialogTriggerID = "externalDropZone";
    settings.AdvancedModeSettings.EnableDragAndDrop = true;
    settings.AdvancedModeSettings.EnableFileList = false;
    settings.AdvancedModeSettings.EnableMultiSelect = false;
    settings.AdvancedModeSettings.ExternalDropZoneID = "externalDropZone";
    settings.AdvancedModeSettings.DropZoneText = "";
    settings.ValidationSettings.MaxFileSize = 999999999;
    settings.ValidationSettings.AllowedFileExtensions = new string[] { ".jpg", ".jpeg", ".gif", ".png" };
    settings.ValidationSettings.ErrorStyle.CssClass = "validationMessage";
    settings.BrowseButton.Text = "Buscar";
    settings.Styles.DropZone.CssClass = "uploadControlDropZone";
    settings.Styles.ProgressBar.CssClass = "uploadControlProgressBar";
    settings.ClientSideEvents.DropZoneEnter = "function(s, e) { if(e.dropZone.id == 'externalDropZone') setElementVisible('dropZone', true); }";
    settings.ClientSideEvents.DropZoneLeave = "function(s, e) { if(e.dropZone.id == 'externalDropZone') setElementVisible('dropZone', false); }";
    settings.ClientSideEvents.FileUploadComplete = "onUploadControlFileUploadComplete";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
}).GetHtml()
}
