
@model Core.Erp.Info.General.tb_sis_reporte_diseno_Info
@{
    ViewBag.Title = "Nuevo ";
    //if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    //{
    //    Response.Redirect("~/Account/Login");
    //}
    Layout = "~/Areas/Reportes/Views/Layout/_Layout_filtros.cshtml";
}
@using (Html.BeginForm("Nuevo", "DisenadorReporte", FormMethod.Post, new { @class = "form", @role = "form" }))
{    
    @Html.DevExpress().ReportDesigner(settings =>
    {
        settings.Name = "ReportDesigner";
        settings.SaveCallbackRouteValues = new { Controller = "DisenadorReporte", Action = "Nuevo", Area = "General"};
    }).Bind(Model.File_Disenio_Reporte).GetHtml()
    
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-default" href="@Url.Action("Index","DisenadorReporte",new { Area = "General" },null)">Cancelar</a>
    </div>
}