@using Core.Erp.Web.Helps
@{
    ViewBag.Title = "Proveedor";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary" href="@Url.Action("Importar","Proveedor",new { Area = "CuentasPorPagar", IdEmpresa = SessionFixed.IdEmpresa },null)">Importar desde excel</a>
        </div>
    </div>

@Html.Action("GridViewPartial_proveedor")

}
