@using System.Web.UI.WebControls;
@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "GridViewPartial_por_distribuir    ";
        settings.CallbackRouteValues = new { Controller = "DistribucionPorLote", Action = "GridViewPartial_por_distribuir" };


        settings.KeyFieldName = "IdNumMovi";

        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

        settings.SettingsContextMenu.Enabled = true;
        settings.SettingsBehavior.EnableCustomizationWindow = true;

        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = false;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.Off;
        settings.SettingsAdaptivity.AdaptiveColumnPosition = GridViewAdaptiveColumnPosition.Right;
        settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = false;
        settings.SettingsAdaptivity.HideDataCellsAtWindowInnerWidth = 0;

        settings.Columns.Add("pr_descripcion", "Producto").Width = System.Web.UI.WebControls.Unit.Percentage(40);
        settings.Columns.Add("IdUnidadMedida", "Unidad medida").Width = System.Web.UI.WebControls.Unit.Percentage(20);
        settings.Columns.Add(column =>
        {
            column.FieldName = "can_total";
            column.Caption = "Total";
            column.Width = Unit.Percentage(15);

        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "can_distribuida";
            column.Caption = "Cant. distribuidas";
            column.Width = Unit.Percentage(15);

        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "can_x_distribuir";
            column.Caption = "Cant. x distribuir";
            column.Width = Unit.Percentage(15);

        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "IdProducto_padre";
            column.UnboundType = DevExpress.Data.UnboundColumnType.String;
            column.SetDataItemTemplateContent(c =>
            {
                Html.DevExpress().Button(settingsBtn =>
                {
                    settingsBtn.Name = "btn" + c.KeyValue;
                    settingsBtn.Text = "Asignar";
                    //settingsBtn.ClientSideEvents.Click = "function(s, e) {buscar('"+ c.KeyValue + "');}";
                    settingsBtn.ClientSideEvents.Click = "function(s, e) { e.customArgs['IdProducto_padre'] = '" + c.KeyValue+ "'; }";
                    // settings.Properties.ClientSideEvents.BeginCallback = "function(s, e) { e.customArgs['IdTipoPersona'] = $('#IdTipoPersona').val(); }";

                }).Render();
            });
        });



    });
}
@grid.Bind(Model).GetHtml()


<div class="modal fade" id="detalle_distr" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detalle</h4>
            </div>
            <div class="modal-body">
                @Html.Action("GridViewPartial_distribucion_det")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="AddFacturas();">Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
    function Mostrar()
    {
        GridViewPartial_distribucion_det.PerformCallback();
        $("#detalle_distr").modal("show");
    }
</script>   