
@{
    ViewBag.Title = "Categorías";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.Action("GridViewPartial_categoria_activo", new { IdEmpresa = ViewBag.IdEmpresa, IdActivoFijoTipo = ViewBag.IdActivoFijoTipo })
    <div class="box-footer">
        <a class="btn btn-default" href="@Url.Action("Index","TipoAF",new { IdEmpresa = ViewBag.IdEmpresa, IdActivoFijoTipo = ViewBag.IdActivoFijoTipo, Area = "ActivoFijo" },null)">Volver</a>
    </div>
}