
@{
                /**/

                ViewBag.Title = "AplicarRetencion";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AplicarRetencion</h2>


@Html.Action("GridViewPartial_cobranza_ret_fte")


@Html.Action("GridViewPartial_cobranza_ret_iva")
