@using System.Web.UI.WebControls;
@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "GridViewPartial_GrupoDet";
        settings.CallbackRouteValues = new { Controller = "GrupoPresupuesto", Action = "GridViewPartial_GrupoDet", Area = "Presupuesto" };
        settings.KeyFieldName = "Secuencia";

        settings.Width = Unit.Percentage(100);
        settings.SettingsEditing.Mode = GridViewEditingMode.EditFormAndDisplayRow;
        settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "GrupoPresupuesto", Action = "EditingAddNew", Area = "Presupuesto" };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "GrupoPresupuesto", Action = "EditingUpdate", Area = "Presupuesto" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "GrupoPresupuesto", Action = "EditingDelete", Area = "Presupuesto" };

        //Configuración para que la grilla no muestre texto completo
        settings.SettingsBehavior.AllowEllipsisInText = true;
        settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Control;

        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowNewButton = true;
        settings.CommandColumn.ShowEditButton = true;
        settings.CommandColumn.ShowDeleteButton = true;

        settings.SettingsContextMenu.Enabled = true;
        settings.SettingsContextMenu.RowMenuItemVisibility.NewRow = true;
        settings.SettingsBehavior.EnableCustomizationWindow = true;

        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = false;
        settings.SettingsBehavior.AllowSelectByRowClick = true;

        //Configuracion responsive
        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCellsWindowLimit;
        settings.SettingsAdaptivity.AdaptiveColumnPosition = GridViewAdaptiveColumnPosition.Right;
        settings.SettingsAdaptivity.AdaptiveDetailColumnCount = 1;
        settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = false;
        settings.SettingsAdaptivity.HideDataCellsAtWindowInnerWidth = 500;

        //Funcion para inicializar fila al presionar nuevo
        settings.InitNewRow = (s, e) =>
        {
            e.NewValues["IdUsuario"] = "";
            e.NewValues["Nombre"] = "";
            e.NewValues["AsignaCuentas"] = false;
        };

        settings.Columns.Add(column =>
        {
            column.FieldName = "Nombre";
            column.Caption = "Nombre";
            column.Width = Unit.Percentage(80);
            column.EditFormSettings.Visible = DefaultBoolean.False;
        });

        settings.Columns.Add(column =>
        {
            column.FieldName = "IdUsuario";
            column.Caption = "Usuario";
            column.Width = Unit.Percentage(50);
            column.Visible = false;
            column.EditFormSettings.Visible = DefaultBoolean.True;
            column.SetEditItemTemplateContent(c =>
            {
                ViewContext.Writer.Write("<div id='ajaxDiv'>");
                Html.RenderPartial("_CmbUsuario_Grupo", DataBinder.Eval(c.DataItem, "IdUsuario"));
                ViewContext.Writer.Write("</div>");
            });
        });
        settings.Columns.Add(column =>
        {
            column.FieldName = "AsignaCuentas";
            column.Caption = "Asigna Cuentas";
            column.Width = Unit.Percentage(20);
            column.EditorProperties().CheckBox(sp =>
            {

            });
        });

        settings.CellEditorInitialize = (sender, e) =>
        {
            if (e.Column.FieldName == "IdUsuario")
            {
                MVCxGridView g = sender as MVCxGridView;
                if(g.IsEditing == true)
                    e.Editor.ReadOnly = true;
                else
                    e.Editor.ReadOnly = false;
            }
        };

        settings.ClientSideEvents.BeginCallback = "function(s,e) { e.customArgs['TransaccionFixed'] = $('#IdTransaccionSession').val();}";
    });
}
@grid.Bind(Model).GetHtml()