<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="Entities_general" connectionString="metadata=res://*/Model_general.csdl|res://*/Model_general.ssdl|res://*/Model_general.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=186.101.230.247;initial catalog=DBERP_RAPI_PRODUCCION;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_activo_fijo" connectionString="metadata=res://*/Model_activo_fijo.csdl|res://*/Model_activo_fijo.ssdl|res://*/Model_activo_fijo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=186.101.230.247;initial catalog=DBERP_RAPI_PRODUCCION;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_banco" connectionString="metadata=res://*/Model_banco.csdl|res://*/Model_banco.ssdl|res://*/Model_banco.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=186.101.230.247;initial catalog=DBERP_RAPI_PRODUCCION;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_caja" connectionString="metadata=res://*/Model_caja.csdl|res://*/Model_caja.ssdl|res://*/Model_caja.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=186.101.230.247;initial catalog=DBERP_RAPI_PRODUCCION;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_contabilidad" connectionString="metadata=res://*/Model_contabilidad.csdl|res://*/Model_contabilidad.ssdl|res://*/Model_contabilidad.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=186.101.230.247;initial catalog=DBERP_RAPI_PRODUCCION;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_cuentas_por_cobrar" connectionString="metadata=res://*/Model_cuentas_por_cobrar.csdl|res://*/Model_cuentas_por_cobrar.ssdl|res://*/Model_cuentas_por_cobrar.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=186.101.230.247;initial catalog=DBERP_RAPI_PRODUCCION;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_cuentas_por_pagar" connectionString="metadata=res://*/Model_cuentas_por_pagar.csdl|res://*/Model_cuentas_por_pagar.ssdl|res://*/Model_cuentas_por_pagar.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=186.101.230.247;initial catalog=DBERP_RAPI_PRODUCCION;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_facturacion" connectionString="metadata=res://*/Model_facturacion.csdl|res://*/Model_facturacion.ssdl|res://*/Model_facturacion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=186.101.230.247;initial catalog=DBERP_RAPI_PRODUCCION;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_importacion" connectionString="metadata=res://*/Model_importacion.csdl|res://*/Model_importacion.ssdl|res://*/Model_importacion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=186.101.230.247;initial catalog=DBERP_RAPI_PRODUCCION;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_inventario" connectionString="metadata=res://*/Model_inventario.csdl|res://*/Model_inventario.ssdl|res://*/Model_inventario.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=186.101.230.247;initial catalog=DBERP_RAPI_PRODUCCION;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_reportes" connectionString="metadata=res://*/Model_reportes.csdl|res://*/Model_reportes.ssdl|res://*/Model_reportes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=186.101.230.247;initial catalog=DBERP_RAPI_PRODUCCION;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_rrhh" connectionString="metadata=res://*/Model_rrhh.csdl|res://*/Model_rrhh.ssdl|res://*/Model_rrhh.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=186.101.230.247;initial catalog=DBERP_RAPI_PRODUCCION;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_seguridad_acceso" connectionString="metadata=res://*/Model_seguridad_acceso.csdl|res://*/Model_seguridad_acceso.ssdl|res://*/Model_seguridad_acceso.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=186.101.230.247;initial catalog=DBERP_RAPI_PRODUCCION;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_compras" connectionString="metadata=res://*/Model_compras.csdl|res://*/Model_compras.ssdl|res://*/Model_compras.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=186.101.230.247;initial catalog=DBERP_RAPI_PRODUCCION;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities_entidades_regulatorias" connectionString="metadata=res://*/Model_entidades_regulatorias.csdl|res://*/Model_entidades_regulatorias.ssdl|res://*/Model_entidades_regulatorias.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=186.101.230.247;initial catalog=DBERP_RAPI_PRODUCCION;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>