
@{
    ViewBag.Title = "Código SRI";
    if (Session["IdUsuario"] == null || Session["IdEmpresa"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{

    @Html.Action("GridViewPartial_codigo_sri")
    <div class="box-footer">
        <a class="btn btn-default" href="@Url.Action("Index","TipoCodigoSRI",new { Area = "CuentasPorPagar" },null)">Volver</a>
    </div>

}
